https://twitter.com/search-advanced

go here and enter your search parameters

copy and paste what it enters in your twitter search bar in to the quotes below for the query argument

then limit is just the limit. I would recommend starting small then making it larger

after you enter your seach term and your limit of tweets you can run all under the runtime

In [ ]:
query = "fondue"

limit = 5000

###Code under here

In [ ]:
import os
import pandas as pd
import numpy as np
!pip install -q snscrape
from datetime import date
import snscrape.modules.twitter as sntwitter
import pandas as pd

tweets = []

for tweet in sntwitter.TwitterSearchScraper(query).get_items():

    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])

df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])

# to save to csv
df.to_csv('tweets3.csv')

###Data is here

# Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df

,Date,User,Tweet
0,2022-05-31 15:17:53+00:00,fukkdes,"i know its common to shit on ruby tuesday, but..."
1,2022-05-31 15:16:38+00:00,FondueMgr,@dandolfa You can still have labor market shor...
2,2022-05-31 15:16:08+00:00,valynhai,busco companhia para comer fondue
3,2022-05-31 15:15:01+00:00,ao_milet,@fondue_milet Áîü„Åç„Çã„Éºüò≠
4,2022-05-31 15:15:00+00:00,valedosvinhedos,Winter is coming... ü•∂\n\n‚ùÑÔ∏èHoje amanhecemos co...
...,...,...,...
4995,2022-05-24 00:02:38+00:00,lu_rtravassos,@ryanryan_s2 @Gabriel13spfc Chorar comendo fon...
4996,2022-05-24 00:01:30+00:00,Bot_Fieri,Bloodjaculated Empanada burdened with Tropical...
4997,2022-05-24 00:01:07+00:00,fondue4kill,@destiny_thememe @PaulTassi I never got enough...
4998,2022-05-23 23:58:54+00:00,gabimmatuk,@fondue_two SIM
4999,2022-05-23 23:58:52+00:00,brunacentenoo,queria alguem pra fazer fondue

In [ ]:
df.to_csv('tweetsabr.csv')